/* main css starts */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  font-size: 10px;
}
body {
  background: #f7f7f7;
}

@font-face {
  font-family: 'Raleway-R';
  src: url('../fonts/Raleway/Raleway-Regular.ttf');
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway-L';
  src: url('../fonts/Raleway/Raleway-Light.ttf');
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway-B';
  src: url('../fonts/Raleway/Raleway-Bold.ttf');
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Quicksand-R';
  src: url('../fonts/quicksand/Quicksand-Regular.ttf');
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Quicksand-B';
  src: url('../fonts/quicksand/Quicksand-Bold.ttf');
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Quicksand-L';
  src: url('../fonts/quicksand/Quicksand-Light.ttf');
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Quicksand-M';
  src: url('../fonts/quicksand/Quicksand-Medium.ttf');
  font-display: swap;
  font-style: normal;
}
body {
  font-family: 'Raleway-R', sans-serif;
  font-size: 1.4rem;
  color: rgba(0, 0, 0, 0.8);
}
.container,
.container-lg,
.container-md,
.container-sm,
.container-xl {
  max-width: 1440px;
}
/* main css ends */

/* Quicksand-Regular */
.font-qs-r-16 {
  font-family: 'Quicksand-R', 'Helvetica', Arial;
  font-size: 1.6rem;
}
.font-qs-r-18 {
  font-family: 'Quicksand-R', 'Helvetica', Arial;
  font-size: 1.8rem;
}
.font-qs-r-20 {
  font-family: 'Quicksand-R', 'Helvetica', Arial;
  font-size: 2rem;
}
.font-qs-r-24 {
  font-family: 'Quicksand-R', 'Helvetica', Arial;
  font-size: 2.4rem;
}

/* Quicksand-SemiBold */
.font-qs-sb-14 {
  font-family: 'Quicksand-M', 'Helvetica', Arial;
  font-size: 1.4rem;
}
.font-qs-sb-16 {
  font-family: 'Quicksand-M', 'Helvetica', Arial;
  font-size: 1.6rem;
}
.font-qs-sb-18 {
  font-family: 'Quicksand-M', 'Helvetica', Arial;
  font-size: 1.8rem;
}
.font-qs-sb-20 {
  font-family: 'Quicksand-M', 'Helvetica', Arial;
  font-size: 2rem;
}
.font-qs-sb-24 {
  font-family: 'Quicksand-M', 'Helvetica', Arial;
  font-size: 2.4rem;
}
.font-qs-sb-28 {
  font-family: 'Quicksand-M', 'Helvetica', Arial;
  font-size: 2.8rem;
}
/* Quicksand-Bold */

.font-qs-b-18 {
  font-family: 'Quicksand-B', 'Helvetica', Arial;
  font-size: 1.8rem;
}
.font-qs-b-20 {
  font-family: 'Quicksand-B', 'Helvetica', Arial;
  font-size: 2rem;
}
.font-qs-b-24 {
  font-family: 'Quicksand-B', 'Helvetica', Arial;
  font-size: 2.4rem;
}
.font-qs-b-30 {
  font-family: 'Quicksand-B', 'Helvetica', Arial;
  font-size: 3rem;
}
.font-qs-b-36 {
  font-family: 'Quicksand-B', 'Helvetica', Arial;
  font-size: 3.6rem;
}
.font-qs-b-40 {
  font-family: 'Quicksand-B', 'Helvetica', Arial;
  font-size: 4rem;
}
/* Raleway-Regular */
.font-rw-r-16 {
  font-family: 'Raleway-R', sans-serif;
  font-size: 1.6rem;
}
.font-rw-r-18 {
  font-family: 'Raleway-R', sans-serif;
  font-size: 1.8rem;
}
.font-rw-r-20 {
  font-family: 'Raleway-R', sans-serif;
  font-size: 2rem;
}

.font-rw-b-17 {
  font-family: 'Raleway-B', 'Helvetica', Arial;
  font-size: 1.7rem !important;
}
.font-rw-b-20 {
  font-family: 'Raleway-B', 'Helvetica', Arial;
  font-size: 2rem !important;
}

.font-clr-coral {
  color: #f48070;
}
.font-clr-skyblue {
  color: #7ccdce;
}

.text-danger {
  color: #f48070 !important;
}
.text-error {
  color: #d40000 !important;
}

.text-primary {
  color: #7ccdce !important;
}

.text-default {
  color: #6a6a6a !important;
}

/* bg color */
.bg-grey {
  background: #f7f7f7;
}

a {
  color: #7ccdce;
}
a:hover {
  color: #63bbbd;
}
strong {
  color: #000;
  font-weight: 900;
  text-rendering: geometricprecision;
  text-shadow: none;
}
.w-fit-content {
  width: fit-content;
}

.bdr-radius-10 {
  border-radius: 10px;
}

.flex-grow-1 {
  flex: 1;
}

/* buttons */
.btn {
  border-radius: 45px;
  padding: 3px 35px;
  font-family: 'Raleway-B', sans-serif;
  font-size: 1.4rem;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.03);
}

.btn-sm {
  padding: 1px 12px;
  font-size: 1.3rem;
}
.btn-link {
  box-shadow: none;
}
.btn-primary {
  background-color: #7ccdce;
  border-color: #7ccdce;
}
.btn-primary:hover,
.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary.focus,
.btn-primary:focus {
  background-color: #74c7c9;
  border-color: #74c7c9;
}

.btn-outline-primary {
  color: #74c7c9;
  border-color: #74c7c9;
}

.btn-outline-primary:not(:disabled):not(.disabled).active,
.btn-outline-primary:not(:disabled):not(.disabled):active,
.show > .btn-outline-primary.dropdown-toggle,
.btn-outline-primary:hover {
  color: #fff;
  background-color: #74c7c9;
  border-color: #74c7c9;
}

.btn-danger {
  background-color: #f48070;
  border-color: #f48070;
}
.btn-danger:hover,
.btn-danger:not(:disabled):not(.disabled):active {
  background-color: #e76e5e;
  border-color: #e76e5e;
}

.btn-outline-danger {
  color: #f48070;
  border-color: #f48070;
}

.btn-outline-danger:not(:disabled):not(.disabled).active,
.btn-outline-danger:not(:disabled):not(.disabled):active,
.show > .btn-outline-danger.dropdown-toggle,
.btn-outline-danger:hover {
  color: #fff;
  background-color: #f48070;
  border-color: #f48070;
}

/* card */
.b-card {
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.03);
  background-color: #ffffff;
  border: 1px solid rgba(224, 224, 224, 0.74);
}

.rejected-card {
  background: #da2f2f1a;
}

/* table */
.b-table td,
.b-table th {
  padding: 12px 20px;
}

.b-table thead tr {
  padding: 13px 20px;
}
.b-table thead th {
  background-color: #f7f7f7;
  border-bottom: 1px solid #dcdcdc;
  border-top-width: 0;
  font-family: 'Raleway-B', sans-serif;
  font-size: 1.6rem;
  text-rendering: geometricPrecision;
  font-weight: normal;
}

.b-table.table-striped tbody tr:nth-of-type(odd) {
  background-color: #ffffff;
}
.b-table.table-striped tbody tr:nth-of-type(even) {
  background-color: #f7f7f7;
}
.b-table td {
  border-width: 0;
  padding-top: 12px;
  padding-bottom: 12px;
  font-family: 'Raleway-R', sans-serif;
  font-size: 1.6rem;
}

.b-table.table-striped tbody tr:hover {
  color: inherit;
  background-color: #efe8e8;
}

/* img */
.img-90-70 {
  width: 90px;
  height: 70px;
}

.img-85-65 {
  width: 85px;
  height: 65px;
}

.h-80px {
  height: 80px;
}

/* toggle */
.btn-toggle {
  padding: 0;
  position: relative;
  border: none;
  height: 2.4rem;
  width: 4.7rem;
  border-radius: 2rem;
  color: #6b7381;
  background: #8a8a8a;
}
.btn-toggle:focus,
.btn-toggle.focus,
.btn-toggle:focus.active,
.btn-toggle.focus.active {
  outline: none;
  box-shadow: none;
}
.btn-toggle:before,
.btn-toggle:after {
  line-height: 1.5rem;
  width: 4rem;
  text-align: center;
  font-weight: 600;
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: absolute;
  bottom: 0;
  transition: opacity 0.25s;
}
/* .btn-toggle:before {
  content: 'Off';
  left: -4rem;
}
.btn-toggle:after {
  content: 'On';
  right: -4rem;
  opacity: 0.5;
} */
.btn-toggle > .handle {
  position: absolute;
  top: 0.3rem;
  left: 0.3rem;
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 3rem;
  background: #fff;
  transition: left 0.25s;
}
.btn-toggle.active {
  transition: background-color 0.25s;
}
.btn-toggle.active > .handle {
  left: 2.6rem;
  transition: left 0.25s;
}
/* .btn-toggle.active:before {
  opacity: 0.5;
}
.btn-toggle.active:after {
  opacity: 1;
} */
.btn-toggle.active {
  background-color: #f48070;
}

/* forms */
.form-control {
  height: 36px;
  border-radius: 25px;
  border: solid 1px #c9c9c9;
  font-family: 'Raleway-R', sans-serif;
  font-size: 1.6rem;
  padding: 3px 15px;
}

select {
  /* styling */
  background-color: white;
  border: thin solid blue;
  border-radius: 4px;
  display: inline-block;
  font: inherit;
  line-height: 1.5em;
  padding: 0.5em 3.5em 0.5em 1em;

  /* reset */

  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
}

select.form-control {
  background-image: linear-gradient(45deg, transparent 50%, black 50%),
    linear-gradient(135deg, black 50%, transparent 50%);
  background-position: calc(100% - 20px) calc(0.7em + 2px),
    calc(100% - 15px) calc(0.7em + 2px);
  background-size: 5px 5px, 5px 5px;
  background-repeat: no-repeat;
}

select.form-control:focus {
  background-image: linear-gradient(45deg, transparent 50%, black 50%),
    linear-gradient(135deg, black 50%, transparent 50%);
  background-position: calc(100% - 20px) calc(0.7em + 2px),
    calc(100% - 15px) calc(0.7em + 2px);
  background-size: 5px 5px, 5px 5px, 1px 1.5em;
  background-repeat: no-repeat;
  border-color: green;
  outline: 0;
}

select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}

input.form-control:disabled,
input.form-control[readonly] {
  background: transparent;
  color: #8a8a8a;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #7ccdce;
}

.custom-checkbox .custom-control-input ~ .custom-control-label::before {
  background-color: #fff;
  border: 2px solid #7ccdce;
}

.custom-control-label::after,
.custom-control-label::before {
  width: 1.6rem;
  height: 1.6rem;
}

.custom-control-label {
  padding-left: 10px;
}

.custom-control-input:checked ~ .custom-control-label::before {
  color: #fff;
  border-color: #7ccdce;
}

/* Modal */
@media (min-width: 992px) {
  .modal-lg {
    max-width: 713px;
  }
}
@media (min-width: 1200px) {
  .modal-xl {
    max-width: 1020px;
  }
}
.close-btn {
  height: 16px;
  width: 16px;
}

.modal-header .close {
  padding: 1.6rem 0;
  margin-right: -15px;
}
.modal-header {
  padding-left: 30px;
  border-width: 0;
  padding-right: 30px;
}
.modal-body {
  padding: 30px 40px 25px;
}

.modal-footer {
  padding: 10px 40px 30px;
  border-width: 0;
}

/* tippy */
.tippy-box {
  background-color: #fff;
  color: #000;
  border-radius: 6px;
  box-shadow: 0px 1px 7px #b0b0b0;
  padding: 10px;
  min-width: 400px;
}

.tippy-arrow {
  color: #fff;
}

/*badge*/
.badge-warning {
  color: #c4932f;
  background-color: #ffe4b2;
}

.logo-wrapper-div {
  align-items: flex-end;
  margin-bottom: 10%;
}

.add-card {
  border: 3px dashed #bcbcbc;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

/*icon*/
.fix-v-alignment::before {
  vertical-align: middle;
  margin-top: -2px;
}

.search-input-box .btn {
  padding: 3px 15px;
  box-shadow: none;
}

/* marchant login/signup/forgot-pwd */
.form-card {
  padding: 40px;
  border-radius: 4px;
  box-shadow: 0 17px 30px 0 rgba(0, 0, 0, 0.13);
  background-color: #ffffff;
  min-height: 65vh;
}
.form-card.small-card {
  min-height: 50vh;
}
.bg-wrapper-container {
  margin-top: -30px;
  min-height: calc(100vh - 34px);
}
.term-box {
  height: 300px;
  overflow-y: scroll;
  border: 1px solid #bcbcbc;
  padding: 25px;
}

/* product detail */
.min-h-300 {
  min-height: 300px;
}

.buy-btn {
  padding: 5px 20px 5px 5px;
  min-width: 185px;
  line-height: 36px;
}
.buy-btn img {
  float: left;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  color: #222;
  background-color: transparent;
  border-color: transparent transparent #7ccdce;
  border-bottom: 4px solid #7ccdce !important;
}
.nav-tabs .nav-link {
  flex: 0 1 auto;
  font-family: 'Raleway-B', 'Helvetica', Arial;
  font-size: 2rem;
  border: 1px solid transparent;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  color: #222;
  font-size: 20px;
  padding: 10px 25px;
}

.nav-tabs .nav-link .btn {
  margin: 0 4px !important;
}

.nav-tabs .nav-link.active.add-info-tab {
  border-bottom: 4px solid transparent !important;
}

.nav-tabs .nav-link.add-info-tab {
  font-family: 'Raleway-R', 'Helvetica', Arial;
  font-size: 1.8rem;
}

.nav-tabs .add-info-tab .add-info-tab-btn {
  background: #fff;
  padding: 8px 12px;
  border: dashed 2px #bcbcbc;
  border-radius: 10px;
}

.add-info-tab .form-group,
.checked-btn-input.form-group {
  width: calc(100% - 40px);
  display: inline-block;
}
.checked-btn-input.checked-btn-input-small.form-group {
  width: calc(60% - 40px);
  display: inline-block;
}

.add-info-tab .form-group .form-control {
  border-radius: 15px;
  padding: 12px;
}
.add-info-tab .btn,
.checked-btn-wid-input.btn {
  display: inline-block;
  height: 35px;
  width: 35px;
  vertical-align: top;
  padding-top: 10px;
}
.product-price-block {
  border-top: 1px solid #bcbcbc;
  padding-top: 15px;
}

.b-colored-dot {
  border-radius: 50%;
  height: 15px;
  width: 15px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 3px;
}

.b-input-counter {
  max-width: 133px;
  margin: 0 auto;
}

.b-input-counter .form-control {
  max-width: 130px;
  padding: 0 10px;
  text-align: center;
}
.b-input-counter .btn {
  border: 1px solid #bcbcbc;
}

/* Chrome, Safari, Edge, Opera */
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

.header-select {
  width: 200px;
}
@media (min-width: 768px) {
  .header-select {
    width: 360px;
  }
}
.b-btn-dropdown {
  font-family: 'Raleway-R', 'Helvetica', Arial;
  font-size: 1.6rem;
  padding: 3px 17px;
  border: 1px solid #c9c9c9;
}
.b-btn-dropdown:hover,
.b-btn-dropdown:focus,
.b-btn-dropdown:active,
.show .b-btn-dropdown.dropdown-toggle,
.show .b-btn-dropdown.dropdown-toggle:focus {
  background: transparent;
  color: #222;
}

.b-btn-dropdown::after {
  margin-left: 16px;
}

.b-dropdown-menu .dropdown-item {
  font-family: 'Raleway-R', 'Helvetica', Arial;
  font-size: 1.5rem;
  min-width: 150px;
  padding: 4px 15px;
  border-bottom: 1px solid #c9c9c9;
}
.b-dropdown-menu.dropdown-menu {
  padding: 0;
}
.b-dropdown-menu .dropdown-item:focus,
.b-dropdown-menu .dropdown-item:hover {
  color: #222;
  text-decoration: none;
  background-color: rgba(124, 205, 206, 0.22);
}

/* add file */
.file-upload {
  width: 100%;
}

.file-upload-content {
  display: none;
  text-align: center;
}

.file-upload-input {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  outline: none;
  opacity: 0;
  cursor: pointer;
}

.image-upload-wrap {
  border: 3px dashed #bcbcbc;
  position: relative;
  background-color: #ffffff;
}

.image-title-wrap {
  padding: 0 15px 15px 15px;
  color: #222;
}

.drag-text {
  text-align: center;
}

.drag-text h3 {
  font-weight: 100;
  text-transform: uppercase;
  color: #222;
  padding: 60px 0;
}

.file-upload-image {
  max-width: 100%;
  margin: auto;
  padding: 20px;
}

.add-attr-btn {
  padding: 7px 30px;
}

.selected-attributes {
  padding: 25px 15px;
  border-radius: 10px;
  border: solid 1px #c9c9c9;
}

.selected-attrb-items.colors {
  min-width: 60px;
  align-items: center;
}
.selected-attrb-items.sizes {
  max-width: 180px;
  align-items: center;
  margin-right: 10px;
  padding: 5px 10px;
}

.selected-attrb-items .selected-attrb-item {
  text-align: center;
}

.selected-attrb-items .delete-btn {
  display: none;
}

.selected-attrb-items.colors.active .delete-btn,
.selected-attrb-items.sizes.active .delete-btn {
  margin-top: 10px !important;
  display: block;
}

.selected-attrb-items.colors .selected-attrb-item {
  border-radius: 50%;
  height: 35px;
  width: 35px;
  margin-top: 10px;
}

.selected-attrb-items.colors.add-option .selected-attrb-item {
  border: 1px solid #c9c9c9;
  padding-top: 5px;
  padding-left: 1px;
}

.selected-attrb-items.colors.active .selected-attrb-item {
  box-shadow: 0px 0px 0px 2px #fff, 0px 0px 0px 6px #7ccdce;
}

.selected-attrb-items.colors .selected-attrb-item .attrb-value,
.selected-attrb-items.colors .selected-attrb-item .attrb-price {
  display: none;
}

.selected-attrb-items.sizes .selected-attrb-item {
  padding: 8px 30px;
  border-radius: 12px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60px;
}

.selected-attrb-items.sizes.active .selected-attrb-item {
  border: 3px solid #7ccdce;
}

.selected-attrb-items .attrb-price {
  color: #221f1f;
}

.b-list-group-horizontal .list-group-item,
.b-list-group-horizontal > .list-group-item + .list-group-item {
  border-width: 0;
}

/* owl */
/* owl nav */
.side-nav-owl .owl-prev span,
.side-nav-owl .owl-next span {
  color: #7ccdce;
}

.side-nav-owl .owl-prev span:hover,
.side-nav-owl .owl-next span:hover {
  color: #7ccdce;
}

.side-nav-owl .owl-prev,
.side-nav-owl .owl-next {
  position: absolute;
  top: 0;
  height: 100%;
}

.side-nav-owl .owl-prev {
  left: 0;
}

.side-nav-owl .owl-next {
  right: 0;
}

.side-nav-owl .owl-stage-outer {
  margin: 0 25px;
}

.owl-carousel-item-container {
  height: 100px;
}

.owl-carousel-item-container .add-card {
  margin-right: 51px;
  width: auto;
}

.b-img-pack-card {
  padding: 13px 15px;
  border-radius: 10px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.03);
  background-color: #ffffff;
}
.b-img-pack-card.active {
  border: solid 3px #7ccdce;
}

.b-img-pack-card .img-wrapper {
  max-width: 60px;
  margin-right: 10px;
}

/* profile page */
.add-wid-circle {
  height: 45px;
  width: 45px;
  border-radius: 50%;
  border: 1px dashed #b0b0b0;
  display: inline-block;
  text-align: center;
}

.add-wid-circle img {
  vertical-align: initial;
  margin-left: 2px;
}

/* product card */
.product-card.card {
  height: auto;
  width: 175px;
  border-radius: 12px;
  margin: 1rem;
}
.product-card .card-header {
  width: 173px;
  height: 41px;
  padding: 12px 0 12px 9px;
  border-radius: 12px 12px 0 0;
  background-color: #7ccdce;
  font-weight: bold;
  line-height: normal;
  letter-spacing: 0.47px;
  color: rgba(255, 255, 255, 0.87);
}
.product-card .card-header .card-header-icon {
  position: absolute;
}
.product-card .card-header .card-header-icon img {
  width: 45px;
  height: 44px;
  object-fit: contain;
  border-radius: 115px;
}
.product-card .card-header .card-header-title {
  padding-left: 50px;
  margin-top: -6px;
}
.product-card .card-body {
  margin: 0;
  border-radius: 12px;
  box-shadow: 0 3px 6px 0 rgb(0 0 0 / 16%);
}
.product-card .card-body .card-body-bottom {
  padding: 5px 0;
}
.product-card .card-body .card-body-bottom .card-text {
  /*margin: 4.6px 38.8px 5.8px 11.2px;*/
  font-weight: bold;
  line-height: normal;
  letter-spacing: 0.47px;
  color: #221f1f;
}
.product-card .card-body .card-body-bottom .card-text.sub-text {
  /*margin: 25px 25px 5px 11px;*/
  font-weight: bold;
  line-height: normal;
  letter-spacing: 0.47px;
  color: #9a9a9a;
}
.product-card .card-body .card-body-bottom .card-text.price-text {
  margin: 5px;
  /*font-size: 16px;*/
  letter-spacing: 0.53px;
  color: #221f1f;
  text-align: right;
}
.product-card.card .card-body .main-action-button {
  height: 26px;
  padding: 3px 14px 3px 3px;
  border-radius: 37px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  background-color: #f48070;
  display: flex;
  align-items: center;
}
.product-card .card-body .card-body-bottom .main-action-button .button-icon {
  width: 25px;
  height: 20px;
  background-color: #ffffff;
  border-radius: 37px;
}
.product-card .card-body .card-body-bottom .main-action-button .buy-bag {
  vertical-align: super;
  padding: 1px;
}
.product-card .card-body .card-body-bottom .main-action-button .btn-text {
  width: 30px;
  height: 19px;
  /*font-size: 16px;*/
  font-weight: bold;
  line-height: normal;
  letter-spacing: 0.53px;
  text-align: center;
  color: #ffffff;
  width: 100%;
}
/* Featured item ends */

/* Featured shop starts */
.shop-card.card {
  width: 255px;
  border-radius: 12px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
}
.shop-card .card-header {
  color: #ffffff;
  /*height: 42.7px;*/
  padding: 12px 0 12px 9px;
  border-radius: 12px 12px 0 0;
  background-color: #7ccdce;
  font-weight: bold;
  line-height: normal;
  letter-spacing: 0.47px;
  color: rgba(255, 255, 255, 0.87);
}
.shop-card .card-header .card-header-icon {
  position: absolute;
  z-index: 1;
}
.shop-card .card-header .card-header-icon img {
  width: 45px;
  height: 44px;
  object-fit: contain;
  border-radius: 115px;
}
.shop-card .card-header .card-header-title {
  text-align: center;
}
.shop-card.card .card-body svg {
  border-radius: 0 0 0 12px;
}
.shop-card.card .card-body .sub-text {
  font-weight: bold;
  line-height: normal;
  letter-spacing: 0.47px;
  color: #9a9a9a;
  margin: 12px 0 12px 0;
}
.shop-card.card .card-body .btn-block {
  border-radius: 12px;
  border: solid 1px #707070;
  background-color: #ffffff;
  font-weight: bold;
  line-height: normal;
  letter-spacing: 0.47px;
  color: #221f1f;
  margin-top: 6px;
  margin-bottom: 6px;
}
.shop-card.card .card-body .main-action-button {
  border-radius: 19px;
  background-color: #f48070;
  line-height: normal;
  letter-spacing: 0.47px;
  color: #ffffff;
}
/* Featured shop ends */

.b-order-progress {
  height: 3.2rem;
  border-radius: 20px;
  background-color: transparent;
  border: 1px solid #dcdcdc;
}
.b-order-progress div:first-child {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.b-order-progress .progress-bar,
.b-order-progress .progress-bar.in-progress {
  border-right: 1px solid #dcdcdc;
  background: #7ccdce;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.b-order-progress .progress-bar.in-progress {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.b-order-progress .progress-bar.completed {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.b-order-progress .progress-bar.empty {
  background: transparent;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
