.table-responsive .b-table td .b-input-counter .form-control {
  padding: 2px;
}
.input-container .form-group {
  width: 100%;
}
.editable .input-container {
  display: none !important;
}
.editable .text-display {
  display: flex;
  justify-content: center;
}
.edit .input-container {
  display: flex !important;
}
.edit .text-display {
  display: none;
}
.remove-carousel-img {
  position: absolute;
  right: 5px;
  top: 5px;
  background: white;
}
.custom-control.custom-checkbox {
  z-index: inherit;
  padding-left: 0;
}
.custom-control.custom-checkbox .custom-control-input {
  position: absolute;
  left: 0;
  z-index: 1;
  opacity: 0;
  height: 100%;
  width: 1.6rem;
  height: 1.6rem;
  top: .25rem;
}
.custom-control.custom-checkbox .custom-control-label::before,
.custom-control.custom-checkbox .custom-control-label::after {
  left: 0;
}
.image-pack-container {
  overflow-y: scroll;
  max-height: 550px;
}
.b-img-pack-card .custom-control-label {
  padding-left: 20px;
}
#sortable li {
  list-style: none !important;
}



.default-img-container {
  border: none;
}
.img-sub-card {
  height: 90px !important;
  width: 120px !important;
}

.default-img-text {
  color: #777;
  position: absolute;
  width: 160px;
  font-size: 15px !important;
}

.primary_default .primary-img-div .slick-img {
  height: 400px;
  /* width: 100%; */
  object-fit: cover;
}
.secondary_default .img-sub-card .slick-img {
  object-fit: cover;
  width: 120px;
  height: 90px;
}

.bukit-btn {
  border: 1px solid #7ccdce;
  background-color: white;
  color: #7ccdce;
  display: flex;
  align-items: center;
}


