
.upper-content {
	height: 30rem;
	background-color: rgba(124, 205, 206, 0.25);
}
.contact-us-wrapper {
  border-radius: 10px;
  box-shadow: 0 10px 20px 0 rgba(82, 82, 82, 0.16);
  margin-top: -17rem;
}

.send-btn {
	margin: 40px auto;
	padding: 13px 50px;
	border-radius: 40px;
	background-color: #7ccdce;
	font-family: Raleway;
	font-size: 16px;
	font-weight: bold;
	color: #ffffff;
	border: none;
}
.call-info {
	height: 23px;
	font-family: Quicksand;
	font-size: 18px;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	letter-spacing: 0.06px;
	color: rgba(0, 0, 0, 0.87);
}
.or-text {
  height: 27px;
  color: #bcbcbc;
  position: relative;
  display: inline-block;
  margin: 0 0 24px 0;
}
.or-text:before {
  content: "";
  border: 0.5px solid #bcbcbc;
  position: absolute;
  width: 165px;
  top: 8px;
  left: -175px;
}
.or-text:after {
  content: "";
  border: 0.5px solid #bcbcbc;
  width: 165px;
  position: absolute;
  top: 8px;
  right: -175px;
}